<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="team-win-rate-tab" data-toggle="tab" href="#team-win-rate" role="tab"
           aria-controls="team-win-rate" aria-selected="true">阵容胜率查询</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="shishen-rank-tab" data-toggle="tab" href="#shishen-rank" role="tab"
           aria-controls="shishen-rank" aria-selected="false">排行榜</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="team-recommand-tab" data-toggle="tab" href="#team-recommand" role="tab"
           aria-controls="team-recommand" aria-selected="false">翻牌模拟</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="moretools-tab" data-toggle="tab" href="#moretools" role="tab"
           aria-controls="moretools" aria-selected="false">攻略&工具导航</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="tutorial-tab" data-toggle="tab" href="#tutorial" role="tab"
           aria-controls="tutorial" aria-selected="false">食用指南</a>
    </li>
</ul>
