<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>demo</title>
</head>
<body>

<div>
    <div class="icon-champion-tier-up"></div>
    <div class="icon-champion-tier-stay"></div>
    <div class="icon-champion-tier-down"></div>

    <div class="icon-champion-tier-up-fill"></div>
    <div class="icon-champion-tier-stay-fill"></div>
    <div class="icon-champion-tier-down-fill"></div>
</div>
</body>
</html>
